body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

form label {
  display: inline-block;
  width: 120px;
  font-weight: bold;
}

form input, form select {
  width: calc(100% - 130px);
}
